name: "Release: Build and Publish Devcontainer (on tag)"

on:
  push:
    tags:
      - 'v*'

concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: true

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: joshyorko/ror

jobs:
  release-build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository (fetch tags)
        uses: actions/checkout@v5.0.1
        with:
          fetch-depth: 0
      - name: Set VERSION from tag
        id: set_version
        run: echo "version=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5.10.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,pattern=v*  # use the tag pushed (e.g. v1.2.3)
            type=raw,value=latest
      - name: Log in to the Container registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Push Dev Container image (release tag)
        uses: devcontainers/ci@v0.3.1900000417
        with:
          imageName: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          imageTag: ${{ steps.set_version.outputs.version }},latest
          push:
            always
